In [1]:
print("Hello World")

Hello World

In [9]:
a=("2.89")
print(type(a))

<class 'str'>

In [8]:
print(2.89)
print(type(a))

2.89
<class 'NoneType'>

In [10]:
print(""" HEllo guys 
k xa khabr""")

 HEllo guys
k xa khabr

In [11]:
type("sitij")

str

In [12]:
type(100)

int

In [13]:
2+6

8

In [14]:
print(2+6)

8

In [16]:
print(f"I want to study {7*7} hours in a week")

I want to study 49 hours in a week

In [17]:
age=5
print(age)

5

In [18]:
age=24
print(age)

24

In [20]:
print(f"My age is {age} ")

My age is 24

In [23]:
from helper_functions import print_llm_response

ModuleNotFoundError: No module named 'helper_functions'

In [24]:
len("hello world")

11

In [25]:
round(42.17)

42

In [26]:
str_len("hello world")

NameError: name 'str_len' is not defined

In [28]:
age=12
if age>18:
    print(f"you can vote because your age is {age} ")
else:
    print(f"you cannot vote because your age is {age} ")

you cannot vote because your age is 12

In [33]:
#Code example of indentation
if True:
    print("Correct indentation")
    if False:
        print("THis wont print")
    print("this will print")
print("k xa")

Correct indentation
this will print
k xa

In [38]:
age=32
name="ram"
print(name)
print(age)

ram
32

In [43]:
print("age",age)

age 32

In [41]:
print(f"age: {age}")

age: 32

In [44]:
type(name)

str

In [45]:
type(age)

int

In [46]:
age_str=str(age)
print(age_str)
print(type(age_str))

32
<class 'str'>

In [53]:
age="25"
print(age)
print(type(age))
print(int(age))
print(type(age))

25
<class 'str'>
25
<class 'str'>

In [51]:
type(age)

str

In [52]:
print(int(age))

25

In [55]:
var=10
print(var,type(var))
var="HEllo"
print(var,type(var))

10 <class 'int'>
HEllo <class 'str'>

In [63]:
age=input("What is the age")
print("the age:",age)

What is the age 10

the age: 10

In [69]:
# Caclulator using python add, sub ,mul ,div
num1=float(input("enter the first number"))
num2= float(input("enter the second number"))
mul=num1*num2
sum=num1+num2
difference=num1-num2
quotient=num1/num2
print("sum:",sum)
print("mul:",mul)
print("quo:",quotient)
print("diff:",difference)

enter the first number 12
enter the second number 1

sum: 13.0
mul: 12.0
quo: 12.0
diff: 11.0

In [1]:
print("hello world")

hello world

In [3]:
#integer example
age=35
type(age)

int

In [4]:
width=32.33
print(type(width))

<class 'float'>

In [5]:
tf=True
type(tf)

bool

In [6]:
bool()

False

In [7]:
a=10
b=20
type(a==b)

bool

In [12]:
result="hello"+str(10)
print(result)

hello10

In [16]:
age=10
print(type(age))
str(age)
print(type(str(age)))

<class 'int'>
<class 'str'>

In [17]:
a=5
b=10
sum=a+b
print(sum)

15

In [23]:
a=int(123)
b=float(123)
a==b
type(a)==type(b)

False

In [19]:
print(a!=b)

True

In [24]:
# if statement
age=float(input("enter your age"))
if age<15:
    print("you are a child")
elif 16<age<30:
    print("you are in prime age")
elif 30<age<50:
    print("you are retired")
else:
    print("you are old")

you are in prime age

In [33]:
#nested conditonal statement
age=int(input("enter your age"))
gender=input("enter your gender")
if age>20:
    if gender=="male":
        print("you are handsome")
    else:
        print("you are beautiful")
else:
    if gender=="female":
        print("you are cute child")
    else:
        print("you are naught boy")

you are cute child

In [35]:
#Practical example
# Determine if a year is a leap year using nested condition statement
year=int(input("Enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2024 is a leap year

In [37]:
#Assignment
# simple calculator program
num1=int(input("Enter the first number:"))
num2= int(input("Enter the second number:"))
operation= input("enter the operation you want to perform:")

if operation == "sum":
    result=num1+num2
    print(result)
elif operation == "diff":
    result=num1-num2
    print(result)
elif operation == "multiply":
    result = num1*num2
    print(result)
else:
    result = num1/num2
    print(result)

5

In [46]:
age=int(input("Enter your age"))
if age<5:
    print("the ticket is free for " ,age, "years old")
else:
    print("you should buy the ticket")

the ticket is free for  2 years old

In [3]:
#Loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
#strings
str="Krish Naik"
for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [13]:
#while
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
count=0
while count%2==0:
    print(count)
    count = count+1

0

In [15]:
#loop control statements
#break
#The break statement exsit the loop permaturely
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
# continue
# The continue statement skips current iteration and continues with the next.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
#pass
for i in range(5):
    if i==3:
        print("the number is ",i)
        pass
    print(i)

0
1
2
the number is  3
3
4

In [19]:
#nested loop 
## loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"the value is i :{i} j:{j}")
        print("completing the inner loop")

the value is i :0 j:0
completing the inner loop
the value is i :0 j:1
completing the inner loop
the value is i :1 j:0
completing the inner loop
the value is i :1 j:1
completing the inner loop
the value is i :2 j:0
completing the inner loop
the value is i :2 j:1
completing the inner loop

In [ ]:
#exception