In [2]:
print("Hello World")

In [9]:
a=("2.89")
print(type(a))

<class 'str'>

In [8]:
print(2.89)
print(type(a))

2.89
<class 'NoneType'>

In [10]:
print(""" HEllo guys 
k xa khabr""")

 HEllo guys
k xa khabr

In [11]:
type("sitij")

str

In [12]:
type(100)

int

In [13]:
2+6

8

In [14]:
print(2+6)

8

In [16]:
print(f"I want to study {7*7} hours in a week")

I want to study 49 hours in a week

In [17]:
age=5
print(age)

5

In [18]:
age=24
print(age)

24

In [20]:
print(f"My age is {age} ")

My age is 24

In [23]:
from helper_functions import print_llm_response

ModuleNotFoundError: No module named 'helper_functions'

In [24]:
len("hello world")

11

In [25]:
round(42.17)

42

In [26]:
str_len("hello world")

NameError: name 'str_len' is not defined

In [28]:
age=12
if age>18:
    print(f"you can vote because your age is {age} ")
else:
    print(f"you cannot vote because your age is {age} ")

you cannot vote because your age is 12

In [33]:
#Code example of indentation
if True:
    print("Correct indentation")
    if False:
        print("THis wont print")
    print("this will print")
print("k xa")

Correct indentation
this will print
k xa

In [38]:
age=32
name="ram"
print(name)
print(age)

ram
32

In [43]:
print("age",age)

age 32

In [41]:
print(f"age: {age}")

age: 32

In [44]:
type(name)

str

In [45]:
type(age)

int

In [46]:
age_str=str(age)
print(age_str)
print(type(age_str))

32
<class 'str'>

In [53]:
age="25"
print(age)
print(type(age))
print(int(age))
print(type(age))

25
<class 'str'>
25
<class 'str'>

In [51]:
type(age)

str

In [52]:
print(int(age))

25

In [55]:
var=10
print(var,type(var))
var="HEllo"
print(var,type(var))

10 <class 'int'>
HEllo <class 'str'>

In [63]:
age=input("What is the age")
print("the age:",age)

What is the age 10

the age: 10

In [69]:
# Caclulator using python add, sub ,mul ,div
num1=float(input("enter the first number"))
num2= float(input("enter the second number"))
mul=num1*num2
sum=num1+num2
difference=num1-num2
quotient=num1/num2
print("sum:",sum)
print("mul:",mul)
print("quo:",quotient)
print("diff:",difference)

enter the first number 12
enter the second number 1

sum: 13.0
mul: 12.0
quo: 12.0
diff: 11.0

In [1]:
print("hello world")

hello world

In [3]:
#integer example
age=35
type(age)

int

In [4]:
width=32.33
print(type(width))

<class 'float'>

In [5]:
tf=True
type(tf)

bool

In [6]:
bool()

False

In [7]:
a=10
b=20
type(a==b)

bool

In [12]:
result="hello"+str(10)
print(result)

hello10

In [16]:
age=10
print(type(age))
str(age)
print(type(str(age)))

<class 'int'>
<class 'str'>

In [17]:
a=5
b=10
sum=a+b
print(sum)

15

In [23]:
a=int(123)
b=float(123)
a==b
type(a)==type(b)

False

In [19]:
print(a!=b)

True

In [24]:
# if statement
age=float(input("enter your age"))
if age<15:
    print("you are a child")
elif 16<age<30:
    print("you are in prime age")
elif 30<age<50:
    print("you are retired")
else:
    print("you are old")

you are in prime age

In [33]:
#nested conditonal statement
age=int(input("enter your age"))
gender=input("enter your gender")
if age>20:
    if gender=="male":
        print("you are handsome")
    else:
        print("you are beautiful")
else:
    if gender=="female":
        print("you are cute child")
    else:
        print("you are naught boy")

you are cute child

In [35]:
#Practical example
# Determine if a year is a leap year using nested condition statement
year=int(input("Enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2024 is a leap year

In [37]:
#Assignment
# simple calculator program
num1=int(input("Enter the first number:"))
num2= int(input("Enter the second number:"))
operation= input("enter the operation you want to perform:")

if operation == "sum":
    result=num1+num2
    print(result)
elif operation == "diff":
    result=num1-num2
    print(result)
elif operation == "multiply":
    result = num1*num2
    print(result)
else:
    result = num1/num2
    print(result)

5

In [46]:
age=int(input("Enter your age"))
if age<5:
    print("the ticket is free for " ,age, "years old")
else:
    print("you should buy the ticket")

the ticket is free for  2 years old

In [3]:
#Loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
#strings
str="Krish Naik"
for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [13]:
#while
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
count=0
while count%2==0:
    print(count)
    count = count+1

0

In [15]:
#loop control statements
#break
#The break statement exsit the loop permaturely
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
# continue
# The continue statement skips current iteration and continues with the next.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
#pass
for i in range(5):
    if i==3:
        print("the number is ",i)
        pass
    print(i)

0
1
2
the number is  3
3
4

In [19]:
#nested loop 
## loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"the value is i :{i} j:{j}")
        print("completing the inner loop")

the value is i :0 j:0
completing the inner loop
the value is i :0 j:1
completing the inner loop
the value is i :1 j:0
completing the inner loop
the value is i :1 j:1
completing the inner loop
the value is i :2 j:0
completing the inner loop
the value is i :2 j:1
completing the inner loop

In [5]:
# Example: Calculate the sum of first N natural number using while and for loop
n=int(input("Enter the value of n"))
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print(f"the sum of n natural number is {sum}")

the sum of n natural number is 15

In [8]:
# for loop 
n=int(input("Enter the value of n"))
sum=0
for i in range(n):
    sum=sum+i
print(sum)

55

In [19]:
# displya prime number between 1 to 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
    
        else:
             print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [21]:
for num in range(10):
    if num==6:
        break
    else:
        print(num)

0
1
2
3
4
5

In [27]:
names=["jkrish",1,2,3,4]
type(names)
print(names)

['jkrish', 1, 2, 3, 4]

In [43]:
#accessing list items
fruits=["apple","bananana","cherry","kiwi","grapes"]
print(fruits[0])
fruits[0:5]

apple

['apple', 'bananana', 'cherry', 'kiwi', 'grapes']

In [44]:
#modifying the list elements
fruits

['apple', 'bananana', 'cherry', 'kiwi', 'grapes']

In [45]:
fruits[0]="guava"

In [46]:
fruits

['guava', 'bananana', 'cherry', 'kiwi', 'grapes']

In [53]:
fruits[1:]="watermelon"

In [54]:
fruits

['guava', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [55]:

fruits=["apple","bananana","cherry","kiwi","grapes"]

In [57]:
fruits.append("orange")

In [58]:
fruits

['apple', 'bananana', 'cherry', 'kiwi', 'grapes', 'orange']

In [61]:
fruits.insert(0,"pom")

In [62]:
fruits

['pom', 'apple', 'pom', 'bananana', 'cherry', 'kiwi', 'grapes', 'orange']

In [64]:
poped_fruits=fruits.pop()
print(poped_fruits)
print(fruits)

grapes
['pom', 'apple', 'pom', 'bananana', 'cherry', 'kiwi']

In [68]:
fruits.index("apple")

1

In [70]:
fruits.count("pom")

2

In [71]:
fruits

['pom', 'apple', 'pom', 'bananana', 'cherry', 'kiwi']

In [72]:
fruits.sort()

In [73]:
fruits

['apple', 'bananana', 'cherry', 'kiwi', 'pom', 'pom']

In [79]:
#slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [80]:
numbers.reverse()

In [81]:
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
numbers.reverse()

In [83]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [85]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [92]:
#iterating with index
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
print("helo")

In [1]:
print("hello")

hello

In [3]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
square= [num**2 for num in range(10)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
lst=[]
for i in  range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [11]:
even_numbers =[num for num in range(10) if num%2==0]
even_numbers

[0, 2, 4, 6, 8]

In [12]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [13]:
to_do_list=["Buy Groceries","Clean the house", "Paybills"]
to_do_list.append("walk")

In [14]:
to_do_list

['Buy Groceries', 'Clean the house', 'Paybills', 'walk']

In [15]:
to_do_list.insert(1,"eat")

In [16]:
to_do_list

['Buy Groceries', 'eat', 'Clean the house', 'Paybills', 'walk']

In [1]:
if "walk" in to_do_list:
    print("dont forget to walk")
print("to do list remaing")
for task in to_do_list:
    print(f"-{task}")

NameError: name 'to_do_list' is not defined

In [1]:
#tuple
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
#Aceesing tuple
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
numbers[0]

1

In [8]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [9]:
#immutable nature of Tuples
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [10]:
lst[0]="Krish"

In [11]:
print(lst)

['Krish', 2, 3, 4, 5]

In [12]:
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [18]:
print(numbers.count(2))

1

In [19]:
print(numbers.index(4))

3

In [21]:
#packing and unpacking tuple
packed_tuples=1,"hello",3.14
print(packed_tuples)

(1, 'hello', 3.14)

In [22]:
# unpacking a tuple
a,b,c=packed_tuples
print(a)
print(b)
print(c)

1
hello
3.14

In [26]:
lst=[[1,2,3],[4,5,6],[7,8,9]]
lst[2][::-1]

[9, 8, 7]

In [27]:
tuple=((1,2,3),(4,5,6),(7,8,9))
tuple[0][2]

3

In [28]:
#dictionary
student={"name":"ram","grade":24,"age":35}
print(student)

{'name': 'ram', 'grade': 24, 'age': 35}

In [29]:
print(student["name"])

ram

In [30]:
#iterating over keys
for keys in student.keys():
    print(keys)

name
grade
age

In [31]:
for values in student.values():
    print(values)

ram
24
35

In [32]:
for key,values in student.items():
    print(f"{key}:{values}")

name:ram
grade:24
age:35

In [38]:
students={
    "student1":{
        "phy":25,
        
        "chem":30
    },
    "student2":{"phy":22,"chem":30}
}

In [40]:
print(students["student1"]["phy"])
print(students.items())

25
dict_items([('student1', {'phy': 25, 'chem': 30}), ('student2', {'phy': 22, 'chem': 30})])

In [46]:
#iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'phy': 25, 'chem': 30}
phy:25
chem:30
student2:{'phy': 22, 'chem': 30}
phy:22
chem:30

In [48]:
#use a dictionary to cunt the frequency of elememts in list
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [51]:

def oddeven(num):
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

In [53]:
oddeven(13)

13 is odd

In [58]:
def greet(name="Guest"):
    print(f"hello {name}")

greet("Sitij")

hello Sitij

In [59]:
def print_value(*args):
    for value in args:
        print(value)

print_value(1,2,"xyz")

1
2
xyz

In [62]:
def print_details(*args,**kwargs):
    for value in args:

        print(f"{value} positional argument")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_details(1,2,3,4,name="sitij",age=24)

1 positional argument
2 positional argument
3 positional argument
4 positional argument
name:sitij
age:24

In [66]:
def multiply(a,b):
   return(a*b,a) 
multiply(2,3)

(6, 2)

In [71]:
# temperature conversion
def temperature_converter(temp,unit):
    if unit=="C":
        return temp*9/5 
    elif unit =="F":
        return (temp-32)*5/9
    else:None
temperature_converter(10,'')

In [72]:
def checkpwd(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^' for char in password):
        return False
    else:
        return True

In [75]:
checkpwd("hHelo@s123")

True

In [1]:
#Calculate the total cost of items in a shopping cart
# Example cart data
cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}

]
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']* item ['quantity']
    return total_cost

total_cost=calculate_total_cost(cart)
print(f"the total cost is {total_cost}")

the total cost is 5.8999999999999995

In [5]:
def is_palindrome(str):
    str=str.lower().replace(" ","")
    return str==str[::-1]
print(is_palindrome("A nan a"))
print(is_palindrome("hello"))

True
False

In [8]:
def factorial(n):
    if n==0:
        return(1)
    else:
        return (n*factorial(n-1))
print(factorial(3))

6

In [10]:
#lamda function
sum=lambda a,b:a+b
sum(2,3)

5

In [11]:
even=lambda a:a%2==0
even(12)

True

In [12]:
sum=lambda x,y,z:x+y+z
sum(2,3,2)

7

In [16]:
# map()
numbers=[1,2,3,4,5,6]
def square(numbers):
    return numbers**2
square(2)

4

In [18]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [3]:
#map
def square(x):
    return x**2
numbers=[1,2,3,4,5]

list(map(square,numbers))

[1, 4, 9, 16, 25]

In [5]:
numbers1=[1,2,3]
numbers2=[2,3,4]
added_numbers= list(map(lambda x,y:x+y , numbers1, numbers2))
print(added_numbers)

[3, 5, 7]

In [6]:
#filter
def even(num):
    if num%2==0:
        return True

In [7]:
even(24)

True

In [11]:
lst=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2==0,lst))

[2, 4, 6, 8, 10]

In [12]:
#filter with multiple condition and lambda function
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater)

[6, 8]

In [14]:
#filter()
people=[{'name':'ram','age':32},
        {'name':'shyam','age':22}]

def age_greater_than_25(peoples):
    return peoples['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'ram', 'age': 32}]

In [3]:
#modules
import math
math.sqrt(27)

5.196152422706632

In [4]:
from math import sqrt,pi
print(sqrt(16))

4.0

In [5]:
import numpy as np

In [7]:
from math import *
print(pi)

3.141592653589793

In [11]:
import random
print(random.randint(1,10))

10

In [13]:
#csv
import csv

with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['krish',32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krish', '32']

In [14]:
#reg ex
import re
pattern=r'\d+'
text= 'THere are 123 apples'
match=re.search(pattern,text)
print(match.group())

123

In [ ]:
# file